article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.svg {
  color: #FFF;
}

body {
  position: relative;
  float: left;
  font-size: 16px;
  line-height: 1.65;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  /**/
  background-color: #e4e4e3;
}

h1 {
  font-size: 44px;
  font-weight: 200;
  line-height: 1.25;
  margin-top: 50;
  margin-bottom: 35px;
}

.screener h1,
.inquiry h1,
.contact h1 {
  margin-top: 50px;
  margin-bottom: 0;
}

h2 {
  font-size: 26px;
  font-weight: 200;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-weight: 100;
  color: #787b7d;
  margin: 0;
}

h4 {
  font-size: 13px;
  font-weight: 100;
  margin: 0;
  color: #787b7d;
}

.main {
  position: relative;
  float: left;
  width: 66.66%%;
  padding-left: 5%;
  padding-right: 12%;
  padding-top: 60px;
  background-color: #fff;
}

aside {
  position: relative;
  float: right;
  width: 33.33%%;
  min-height: 100%;
}

nav {
  float: left;
  width: 100%;
  background-color: #fff;
}
nav .nav-about,
nav .nav-team,
nav .nav-developers {
  display: none;
}
nav .logoArea {
  display: none;
  float: left;
  width: 100%;
  background-color: #000;
}
nav .logoWrapper {
  width: 80px;
  margin: 0 auto;
}
nav .brandLogo {
  fill: #fff;
  width: 80px;
  height: 50px;
}
nav .brandLogo:hover {
  fill: #00b680;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  padding-right: 30px;
}

a,
nav ul li a {
  text-decoration: none;
  color: #00b680;
}

a:hover,
nav ul li a:hover,
footer a:hover {
  color: #4a8357;
  /* 4F8510   4a8357 */
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.intro h1 {
  width: 80%;
}
.intro p {
  color: #787b7d;
}

.team {
  /*display: block;*/
  float: left;
  width: 100%;
}

.teamProfile {
  display: inline-block;
  float: left;
  width: 49.2%;
}
.teamProfile:nth-child(2n+1) {
  float: right;
}
.teamProfile:nth-child(2n+1) {
  float: right;
}
.teamProfile img {
  max-width: 100%;
}
.teamProfile p {
  font-size: 13px;
  color: #787b7d;
}

.teamProfile .social,
.dev .social {
  margin: 0;
  padding: 0;
}

.teamProfile .social li,
.dev .social li {
  list-style-type: none;
  line-height: 1.2;
}

.teamProfile .social li a {
  color: #000;
}

.teamProfile .social li a:hover {
  color: #4a8357;
}

.developers {
  float: left;
}
.developers .dev {
  float: left;
  width: 32%;
  margin-right: 2%;
  margin-top: 20px;
  margin-bottom: 18px;
}
.developers .dev h2 {
  /*position: absolute;*/
  top: 0;
}
.developers .dev h3 {
  margin: 10px 0;
  color: #000;
}
.developers .dev img {
  width: 100%;
  height: 100%;
}
.developers .dev .social {
  font-size: 13px;
}
.developers .dev:nth-child(3n+3) {
  margin-right: 0;
}
.developers .devWrapper {
  position: relative;
}
.developers .devWrapper a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.developers .devWrapper h2 {
  position: absolute;
  margin-top: 20%;
  left: 22%;
  font-size: 30px;
  opacity: 0;
}
.developers .devWrapper:hover img {
  opacity: 0.5;
}
.developers .devWrapper:hover h2 {
  opacity: 1;
}

.bioWrapper {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 200;
  display: none;
}
.bioWrapper .bio {
  position: relative;
  width: 60%;
  min-height: 60%;
  margin: 10% auto;
  background-color: #fff;
}
.bioWrapper .bio h1,
.bioWrapper .bio h2,
.bioWrapper .bio p,
.bioWrapper .bio ul {
  padding-left: 40px;
  padding-right: 40px;
}
.bioWrapper .bio h1 {
  margin-bottom: 5px;
}
.bioWrapper .bio h2 {
  line-height: 1;
}
.bioWrapper .bio p {
  font-size: 13px;
  color: #787b7d;
}
.bioWrapper .bio ul li {
  list-style-type: none;
  display: inline;
  padding-right: 15px;
}
.bioWrapper .bio img {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}
.bioWrapper .bio .social {
  padding-bottom: 40px;
}
.bioWrapper .bio .close .closeButton {
  position: absolute;
  top: -40px;
  right: 15px;
  width: 20px;
  height: 20px;
  fill: #fff;
}
.bioWrapper .bio .close .closeButton:hover {
  fill: #00b680;
}

.visible {
  display: block;
}

.screener {
  float: left;
  margin-bottom: 70px;
}
.screener ol {
  padding: 0;
}
.screener ol li {
  font-size: 26px;
  font-weight: 200;
  border-top: 1px solid #b9babc;
  vertical-align: center;
  counter-increment: customlistcounter;
  list-style-type: none;
}
.screener ol li:last-child {
  border-bottom: 1px solid #b9babc;
}
.screener ol :before {
  content: counter(customlistcounter) ".";
  font-size: 50px;
  padding-right: 10px;
}
.screener p {
  color: #787b7d;
  margin: 0;
}

.inquiry {
  float: left;
  margin-bottom: 80px;
  width: 100%;
}
.inquiry .contactForm {
  color: #babab5;
}
.inquiry .contactForm .inputField {
  float: left;
  width: 100%;
  border-bottom: 1px solid #babab5;
  padding-top: 10px;
}
.inquiry .contactForm .inputField label {
  display: inline-block;
  font-size: 26px;
  padding-right: 10px;
}
.inquiry .contactForm .inputField input {
  display: inline-block;
  font-size: 26px;
  border: none;
}
.inquiry .contactForm .inputField input:focus {
  outline: 0;
}
.inquiry .contactForm .inputField .comments {
  width: 100%;
  height: 200px;
  border: 1px solid #babab5;
  resize: vertical;
}
.inquiry .contactForm .inputField .comments:focus {
  outline: 0;
  border-color: #00b680;
}
.inquiry .contactForm .submitButton {
  background-color: #00b680;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  padding: 12px 35px;
  margin-top: 20px;
}
.inquiry .contactForm .submitButton:hover {
  background-color: #4a8357;
}

.contact {
  float: left;
  width: 100%;
  padding-bottom: 70px;
}
.contact .email a {
  font-size: 26px;
}
.contact p {
  margin: 0;
  font-size: 26px;
  line-height: 1.2;
}

.brand {
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 270px;
  z-index: 100;
}
.brand .brandSVG {
  margin: 0 auto;
  width: 100%;
  margin-top: 80px;
}

.fixedBar {
  position: absolute;
  top: -90px;
  width: 33.33%;
  height: 90px;
  z-index: 150;
  position: fixed;
  background-color: #000;
}
.fixedBar a {
  display: block;
  text-align: center;
}
.fixedBar a .fixedBrandSVG {
  fill: #fff;
  width: 80px;
  margin: auto;
}
.fixedBar a .fixedBrandSVG:hover {
  fill: #00b680;
}

.sidebarImage {
  position: relative;
  float: left;
  background: url(../images/Hero-variablex1080-1x.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 100%;
  min-height: 1080px;
}
.sidebarImage p {
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  color: #fff;
}

.sidebarInfo {
  float: left;
  padding-bottom: 25px;
}
.sidebarInfo .infoBox {
  color: #fff;
  padding: 6px 27px;
}
.sidebarInfo .infoBox .iconWrapper {
  margin: 7px 0;
}
.sidebarInfo .infoBox .iconWrapper svg {
  fill: #fff;
}
.sidebarInfo .infoBox h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
.sidebarInfo .team {
  background-color: #559c66;
}
.sidebarInfo .paired {
  background-color: #4f850f;
}
.sidebarInfo .experts {
  background-color: #80a74f;
}
.sidebarInfo .project {
  background-color: #4a8357;
}
.sidebarInfo .learn {
  background-color: #73ae80;
}
.sidebarInfo .education {
  background-color: #e4e4e3;
  color: #000;
  padding-top: 25px;
}
.sidebarInfo .education p {
  font-size: 13px;
  color: #797b7e;
}

footer {
  float: left;
  width: 100%;
}
footer .footerWrapper {
  float: left;
  width: 100%;
  background-color: #fff;
}
footer .footerWrapper .contact {
  float: left;
  width: 66.66%;
  padding-left: 5%;
  background-color: #fff;
}
footer .footerWrapper .footerCredits {
  float: right;
  width: 33.3%;
  background-color: #e4e4e3;
  padding: 0 27px;
  padding-bottom: 70px;
}
footer .footerWrapper .footerCredits img {
  width: 80px;
  height: 62px;
  margin-top: 60px;
}
footer .footerWrapper .footerCredits p {
  color: #797b7e;
}
footer .footerWrapper .footerCredits a {
  color: #000;
}
footer .footerWrapper .footerCredits .credits {
  font-size: 13px;
  margin: 0;
}
footer .footerWrapper .footerCredits .credits p {
  color: #797b7e;
}

@media screen and (max-width: 1100px) {
  .main {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .brand .brandSVG {
    height: 100px;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 20px;
  }

  .intro h1 {
    width: 100%;
  }

  .teamProfile {
    display: block;
    float: left;
    width: 100%;
  }
  .teamProfile:nth-child(2n+1) {
    float: left;
  }

  .developers {
    float: left;
  }
  .developers .dev {
    width: 49%;
    margin-right: 2%;
  }
  .developers .dev .devWrapper h2 {
    position: absolute;
    margin-top: 18%;
    left: 20%;
    font-size: 30px;
    opacity: 0;
  }
  .developers .dev:nth-child(odd) {
    float: left;
  }
  .developers .dev:nth-child(even) {
    float: right;
    margin-right: 0;
  }

  .brandSVG {
    height: 80px;
  }

  .screener ol li {
    font-size: 22px;
  }

  .contactForm label,
  .contactForm input {
    font-size: 16px;
  }

  .contact p,
  .contact .email a {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 15px;
  }

  h1 {
    font-size: 22px;
  }

  .main {
    width: 100%;
    padding-top: 0;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .main nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    left: 0;
    box-shadow: 0 0 10px #333;
  }
  .main nav .logoArea {
    display: block;
  }
  .main .intro {
    padding-top: 105px;
  }
  .main .intro p {
    font-size: 14px;
  }
  .main ul {
    text-align: center;
    background-color: #00b680;
  }
  .main ul .nav-about,
  .main ul .nav-team,
  .main ul .nav-developers {
    display: inline;
  }
  .main ul li a {
    text-decoration: none;
    color: #fff;
  }

  .teamProfile p {
    font-size: 13px;
  }

  .developers .social li,
  .teamProfile .social li {
    background-color: #fff;
    text-align: left;
  }
  .developers .social li a,
  .teamProfile .social li a {
    color: #00b680;
  }

  .screener {
    margin-bottom: 0;
  }
  .screener ol li {
    font-size: 16px;
  }
  .screener ol :before {
    font-size: 30px;
    padding-right: 10px;
  }

  .inquiry {
    margin-bottom: 20px;
  }

  footer {
    padding: 0;
  }
  footer .footerWrapper .contact {
    float: left;
    width: 100%;
    padding-bottom: 30px;
  }
  footer .footerWrapper .contact h1 {
    margin-top: 20px;
  }
  footer .footerWrapper .contact p {
    font-size: 16px;
  }
  footer .footerWrapper .contact .email a {
    font-size: 16px;
  }
  footer .footerWrapper .footerCredits {
    float: left;
    width: 100%;
    padding-bottom: 50px;
  }

  aside {
    float: left;
    width: 100%;
    bottom: 0;
  }

  .bioWrapper .bio {
    margin-top: 20%;
  }

  .asideBar .brand {
    display: none;
  }
  .asideBar .fixedBar {
    display: none;
  }
  .asideBar .sidebarImage {
    display: none;
  }
}
